# chapter3 컬렉션 자료구조

## 3.1 셋

In [ ]:
dir(set())

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
# 3.1.1 셋 메서드
people = {"버피", "에인절", "자일스"}
people.add("윌로")
people

{'버피', '에인절', '윌로', '자일스'}

In [ ]:
people = {"버피", "에인절", "자일스"}
people.update({"로미오", "줄리엣", "에인절"})
people
people |= {"리키", "유진"}
people

{'로미오', '리키', '버피', '에인절', '유진', '자일스', '줄리엣'}

A.update(B) 활용하면 A만 변환.
B는 그대로인듯

In [ ]:
p1 = {"버피", "에인절", "자일스"}
p2 = {"로미오", "줄리엣", "에인절"}
p1.update(p2)
print(p1)
print(p2)

{'로미오', '에인절', '버피', '줄리엣', '자일스'}
{'에인절', '줄리엣', '로미오'}

union과 | 는 복사본으로 변환

In [ ]:
people = {"버피", "에인절", "자일스"}
people.union({"로미오", "줄리엣"})
people
people|{"브라이언"}
people

{'버피', '에인절', '자일스'}

In [ ]:
people = {"버피", "에인절", "자일스", "이안"}
vampires = {"에인절", "자일스", "윌로"}
people.intersection(vampires)
people & vampires

#복사본을 반환함

{'에인절', '자일스'}

In [ ]:
people = {"버피", "에인절", "자일스", "아영"}
vampires = {"스파이크", "에인절", "상민"}
people.difference(vampires)
people - vampires

{'버피', '아영', '자일스'}

In [ ]:
people = {"버피", "자일스", "에인절"}
people.clear()
people

#set() <- empty set을 나타냄

set()

# discard(), remove(), pop()
- A.discard()는 제거, 반환 x
- A.remove()는 없으면 keyError
- A.pop()은 한 항목 무작위 제거 후 그 항목 반환(비어있으면 keyError)

In [ ]:
countries = {"프랑스", "스페인", "영국"}
countries.discard("한국")
# countries.remove("일본")
countries.pop()
countries.discard("스페인")
countries.remove("영국")
# countries.pop()

KeyError: ignored

In [ ]:
# 3.1.3 셋과 리스트
# 리스트 타입은 셋 타입으로 변환 가능

def remove_dup(l1):
    # 리스트의 중복된 항목 제거 후 반환
    return list(set(l1))

def intersection(l1, l2):
    # 교집합 결과를 반환
    return list(set(l1) & set(l2))

def union(l1, l2):
    # 합집합 결과를 반환
    return list(set(l1) | set(l2))

def test_sets_operations_with_lists():
    l1 = [1, 2, 3, 4, 5, 5, 9, 11, 11, 15]
    l2 = [4, 5, 6, 7, 8]
    l3 = []
    assert(remove_dup(l1)) == [1, 2, 3, 4, 5, 9 ,11, 15]
    assert(intersection(l1, l2) == [4, 5])
    assert(union(l1, l2) == [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 15])
    assert(remove_dup(l3) == [])
    assert(intersection(l3, l2) == l3)
    assert(sorted(union(l3, l2)) == sorted(l2))
    print("테스트 통과!")

if __name__ == '__main__':
    test_sets_operations_with_lists()

테스트 통과!

In [ ]:
def set_operations_with_dict():
    pairs = [("a", 1), ("b", 2), ("c", 3)]
    d1 = dict(pairs)
    print("딕셔너리1\t: {0}".format(d1))

    d2 = {"a": 1, "c": 2, "d": 3, "e": 4}
    print("딕셔너리2\t: {0}".format(d2))

    intersection = d1.keys() & d2.keys()
    print("d1 ∩ d2 (키)\t: {0}".format(intersection))

    intersection_items = d1.items() & d2.items()
    print("d1 ∩ d2 (키,값): {0}".format(intersection_items))

    subtraction1 = d1.keys() - d2.keys()
    print("d1 - d2 (키)\t: {0}".format(subtraction1))

    subtraction2 = d2.keys() - d1.keys()
    print("d2 - d1 (키)\t: {0}".format(subtraction2))

    subtraction_items = d1.items() - d2.items()
    print("d1 - d2 (키,값)\t: {0}".format(subtraction_items))

    # 딕셔너리의 특정 키를 제외한다.
    d3 = {key: d2[key] for key in d2.keys() - {"c", "d"}}
    print("d2 - {{c, d}}\t: {0}".format(d3))

if __name__ == "__main__":
    set_operations_with_dict()

딕셔너리1	: {'a': 1, 'b': 2, 'c': 3}
딕셔너리2	: {'a': 1, 'c': 2, 'd': 3, 'e': 4}
d1 ∩ d2 (키)	: {'a', 'c'}
d1 ∩ d2 (키,값): {('a', 1)}
d1 - d2 (키)	: {'b'}
d2 - d1 (키)	: {'e', 'd'}
d1 - d2 (키,값)	: {('c', 3), ('b', 2)}
d2 - {c, d}	: {'e': 4, 'a': 1}

## 3.2 딕셔너리

In [ ]:
hash(42)
hash("hello")

3639859809728392369

In [ ]:
tarantino = {}
tarantino['name'] = '쿠엔틴 타란티노'
tarantino['job'] = '감독'
tarantino
sunnydale = dict({"name":"Buffy", "age":16, "hobby":"game"})
sunnydale
sunnydale = dict(name="james", age=45, hobby="movie appreciation")
sunnydale

sunnydale = dict([("name", "willo"), ("age", 15), ("hobby", "coding")])
sunnydale

{'age': 15, 'hobby': 'coding', 'name': 'willo'}

In [ ]:
# 3.2.1 dict method
def usual_dict(dict_data):
    # dict[key] 사용
    newdata = {}
    for k, v in dict_data:
        if k in newdata:
            newdata[k].append(v)
        else:
            newdata[k] = [v]
    return newdata

def setdefault_dict(dict_data):
    # setdefault() 메서드 사용
    newdata = {}
    for k, v in dict_data:
        newdata.setdefault(k, []).append(v)
    return newdata

def test_setdef():
    dict_data = (("key1", "value1"),
                 ("key1", "value2"),
                 ("key2", "value3"),
                 ("key2", "value4"),
                 ("key2", "value5"),)
    print(usual_dict(dict_data))
    print(setdefault_dict(dict_data))

if __name__ == '__main__':
    test_setdef()

{'key1': ['value1', 'value2'], 'key2': ['value3', 'value4', 'value5']}
{'key1': ['value1', 'value2'], 'key2': ['value3', 'value4', 'value5']}

In [ ]:
d = {'a': 1, 'b': 2}
d.update({'b': 10})
d
d.update({'c': 100})
d

{'a': 1, 'b': 10, 'c': 100}

In [ ]:
sunnydale = dict(name='zander', age=17, hobby='game')
sunnydale.get("hobby")
sunnydale['hobby']
sunnydale.get('hello')
# sunnydale['hello'] # get과는 다르게 오류뜸

In [ ]:
sunnydale = dict(name="zender", age=17, hobby="game")
sunnydale.items()
sunnydale.values()
sunnydale.keys()
sunnydale_copy = sunnydale.items()
# sunnydale_copy['address'] = "서울"  ## 카피본에 추가안됨
sunnydale['address'] = "seoul"
sunnydale
sunnydale_copy   # 원본 변경하면 변경사항 반영됨

dict_items([('name', 'zender'), ('age', 17), ('hobby', 'game'), ('address', 'seoul')])

In [ ]:
sunnydale = dict(name="zender", age=17, address="seoul", hobby="game")
sunnydale.pop("age")
sunnydale
sunnydale.popitem()
sunnydale

{'address': 'seoul', 'name': 'zender'}

In [ ]:
sunnydale = dict(name="zender", age=17, address="seoul", hobby="game")
sunnydale.clear()
sunnydale

{}

 주피터노트북에서는 그냥 %timeit으로도 측정 가능함

In [ ]:
import timeit   # repeat  
import random

for i in range(10000, 1000001, 20000):
    t = timeit.Timer("random.randrange(%d) in x" % i,
                     "from __main__ import random, x")
    x = list(range(i)) # list
    lst_time = t.timeit(number=1000)
    x = {j: None for j in range(i)} # dictionary
    d_time = t.timeit(number=1000)
    print("%d,%10.3f,%10.3f" % (i, lst_time, d_time))

10000,     0.093,     0.001
30000,     0.248,     0.001
50000,     0.418,     0.001
70000,     0.581,     0.001
90000,     0.704,     0.001
110000,     0.894,     0.001
130000,     1.076,     0.001
150000,     1.259,     0.001
170000,     1.366,     0.002
190000,     1.550,     0.001
210000,     1.732,     0.001
230000,     1.798,     0.001
250000,     2.007,     0.001
270000,     2.167,     0.001
290000,     2.310,     0.001
310000,     2.513,     0.002
330000,     2.696,     0.001
350000,     2.830,     0.001
370000,     2.949,     0.001
390000,     3.170,     0.001
410000,     3.316,     0.001
430000,     3.411,     0.001
450000,     3.491,     0.001
470000,     3.903,     0.001
490000,     3.990,     0.001
510000,     4.149,     0.001
530000,     4.356,     0.002
550000,     4.426,     0.002
570000,     4.491,     0.001
590000,     4.733,     0.002
610000,     4.912,     0.001
630000,     5.055,     0.001
650000,     5.281,     0.001
670000,     5.441,     0.001
690000,     5.607,     0.001
710000,     5.945,     0.001
730000,     5.906,     0.001
750000,     5.978,     0.001
770000,     6.125,     0.002
790000,     6.290,     0.001
810000,     6.613,     0.001
830000,     6.820,     0.001
850000,     6.804,     0.001
870000,     6.700,     0.001
890000,     7.028,     0.001
910000,     7.117,     0.001
930000,     7.687,     0.001
950000,     7.603,     0.001
970000,     7.765,     0.001
990000,     8.296,     0.001

In [ ]:
for i in range(10000, 1000001, 20000):
    %timeit list(range(i))

10000 loops, best of 5: 163 µs per loop
1000 loops, best of 5: 595 µs per loop
1000 loops, best of 5: 950 µs per loop
1000 loops, best of 5: 1.3 ms per loop
1000 loops, best of 5: 1.67 ms per loop
100 loops, best of 5: 1.98 ms per loop
100 loops, best of 5: 2.36 ms per loop
100 loops, best of 5: 2.75 ms per loop
100 loops, best of 5: 3.16 ms per loop
100 loops, best of 5: 3.51 ms per loop
100 loops, best of 5: 3.8 ms per loop
100 loops, best of 5: 4.25 ms per loop
100 loops, best of 5: 4.7 ms per loop
100 loops, best of 5: 5.07 ms per loop
100 loops, best of 5: 5.56 ms per loop
100 loops, best of 5: 6.1 ms per loop
100 loops, best of 5: 6.49 ms per loop
100 loops, best of 5: 6.96 ms per loop
100 loops, best of 5: 7.34 ms per loop
100 loops, best of 5: 7.72 ms per loop
100 loops, best of 5: 8.24 ms per loop
100 loops, best of 5: 8.69 ms per loop
100 loops, best of 5: 9.04 ms per loop
100 loops, best of 5: 9.34 ms per loop
100 loops, best of 5: 10.2 ms per loop
100 loops, best of 5: 10.5 ms per loop
100 loops, best of 5: 10.9 ms per loop
100 loops, best of 5: 11.5 ms per loop
100 loops, best of 5: 12.1 ms per loop
100 loops, best of 5: 12.3 ms per loop
100 loops, best of 5: 12.8 ms per loop
100 loops, best of 5: 13.1 ms per loop
100 loops, best of 5: 13.6 ms per loop
100 loops, best of 5: 14 ms per loop
100 loops, best of 5: 14.5 ms per loop
100 loops, best of 5: 15 ms per loop
100 loops, best of 5: 15.5 ms per loop
100 loops, best of 5: 15.9 ms per loop
100 loops, best of 5: 16.3 ms per loop
100 loops, best of 5: 16.9 ms per loop
100 loops, best of 5: 17.3 ms per loop
100 loops, best of 5: 17.6 ms per loop
100 loops, best of 5: 18.1 ms per loop
100 loops, best of 5: 18.5 ms per loop
100 loops, best of 5: 18.9 ms per loop
100 loops, best of 5: 19.4 ms per loop
10 loops, best of 5: 19.3 ms per loop
10 loops, best of 5: 20.6 ms per loop
10 loops, best of 5: 21.2 ms per loop
10 loops, best of 5: 21.7 ms per loop

In [ ]:
d = dict(c="!", b="world", a="hello")
for key in sorted(d.keys()):
    print(key, d[key])

a hello
b world
c !

In [ ]:
def hello():
    print("hello")

def world():
    print("world")

In [ ]:
action = "h"

if action == "h":
    hello()
elif action == "w":
    world()

hello

좀 더 찾아서 공부해볼것

In [ ]:
functions = dict(h=hello, w=world)
functions[action]()

hello

## 3.3 파이썬 컬렉션 데이터 타입

list를 맛깔나게 넣을 수 있음

In [ ]:
from collections import defaultdict

def defaultdict_example():
    pairs = {("a", 1), ("b", 2), ("c", 3)}

    # 일반 딕셔너리
    d1 = {}
    for key, value in pairs:
        if key not in d1:
            d1[key] = []
        d1[key].append(value)
    print(d1)


    # defaultdict
    d2 = defaultdict(list)
    for key, value in pairs:
        d2[key].append(value)
    print(d2)

if __name__ == "__main__":
    defaultdict_example()

{'b': [2], 'c': [3], 'a': [1]}
defaultdict(<class 'list'>, {'b': [2], 'c': [3], 'a': [1]})

In [ ]:
from collections import OrderedDict
tasks = OrderedDict()
tasks[8031] = "백업"
tasks[4027] = "이메일 스캔"
tasks[5733] = "시스템 빌드"
tasks

OrderedDict([(8031, '백업'), (4027, '이메일 스캔'), (5733, '시스템 빌드')])

그럼 시간복잡도도 일반 딕셔너리랑 다른가?
and 일반적으로 여러 번 순회 할것 같거나 항목의 삽입을 거의 수행하지 않을 것 같을 때 사용

In [ ]:
from collections import OrderedDict

def orderedDict_example(): n
    pairs = [("c", 1), ("b", 2), ("a", 3)]

    # 일반 딕셔너리
    d1 = {}
    for key, value in pairs:
        if key not in d1:
            d1[key] = []
        d1[key].append(value)
    for key in d1:
        print(key, d1[key])

    # OrderedDict
    d2 = OrderedDict(pairs)
    for key in d2:
        print(key, d2[key])

if __name__ == '__main__':
    orderedDict_example()

c [1]
b [2]
a [3]
c 1
b 2
a 3

In [ ]:
from collections import Counter

def counter_example():
    # 항목의 발생 횟수를 매핑하는 딕셔너리를 생성한다.
    seq1 = [1, 2, 3, 5, 1, 2, 5, 5, 2, 5, 1, 4]
    seq_counts = Counter(seq1)
    print(seq_counts)

    # 항목의 발생 횟수를 수동으로 갱신하거나, update() 메서드를 사용할 수 있다. 
    seq2 = [1, 2, 3]
    seq_counts.update(seq2)
    print(seq_counts)

    seq3 = [1, 4, 3]
    for key in seq3:
        seq_counts[key] += 1
    print(seq_counts)

    # a+b, a-b 같은 셋 연산을 사용할 수 있다.
    seq_counts_2 = Counter(seq3)
    print(seq_counts_2)
    print(seq_counts + seq_counts_2)
    print(seq_counts - seq_counts_2)

if __name__ == "__main__":
    counter_example()

Counter({5: 4, 1: 3, 2: 3, 3: 1, 4: 1})
Counter({1: 4, 2: 4, 5: 4, 3: 2, 4: 1})
Counter({1: 5, 2: 4, 5: 4, 3: 3, 4: 2})
Counter({1: 1, 4: 1, 3: 1})
Counter({1: 6, 2: 4, 3: 4, 5: 4, 4: 3})
Counter({1: 4, 2: 4, 5: 4, 3: 2, 4: 1})

In [ ]:
from collections import Counter

def find_top_N_recurring_words(seq, N):
    dcounter = Counter()
    for word in seq.split():
        dcounter[word] += 1
    return dcounter.most_common(N)

def test_find_top_N_recurring_words():
    seq = "버피 에인절 몬스터 잰더 윌로 버피 몬스터 슈퍼 버피 에인절"
    N = 3
    assert(find_top_N_recurring_words(seq, N) ==
           [("버피", 3), ("에인절", 2), ("몬스터", 2)])
    print("테스트 통과!")

if __name__ == "__main__":
    test_find_top_N_recurring_words()

테스트 통과!

In [ ]:
from collections import Counter

def is_anagram(s1, s2):
    counter = Counter()
    for c in s1:
        counter[c] += 1
    for c in s2:
        counter[c] -= 1
    for i in counter.values():
        if i:
            return False
    return True

def test_is_anagram():
    s1 = "marina"
    s2 = "aniram"
    assert(is_anagram(s1, s2) is True)
    s1 = "google"
    s2 = "gouglo"
    assert(is_anagram(s1, s2) is False)
    print("테스트 통과!")

if __name__ == "__main__":
    test_is_anagram()

테스트 통과!

밑에꺼 다시 볼것!!

In [ ]:
import string

def hash_func(astring):
    s = 0
    for one in astring:
        if one in string.whitespace:
            continue
        s = s + ord(one)
    return s

def find_anagram_hash_function(word1, word2):
    return hash_func(word1) == hash_func(word2)

def test_find_anagram_hash_function():
    word1 = "buffy"
    word2 = "bffyu"
    word3 = "bffya"
    assert(find_anagram_hash_function(word1, word2) is True)
    assert(find_anagram_hash_function(word1, word3) is False)
    print("테스트 통과!")

if __name__ == "__main__":
    test_find_anagram_hash_function()

테스트 통과!

In [7]:
from collections import Counter, defaultdict

def find_dice_probabilities(S, n_faces=6):
    if S > 2 * n_faces or S < 2:
        return None

    cdict = Counter()
    ddict = defaultdict(list)

    # 두 주사위의 합을 모두 더해서 딕셔너리에 넣는다.
    for dice1 in range(1, n_faces+1):
        for dice2 in range(1, n_faces+1):
            t = [dice1, dice2]
            cdict[dice1+dice2] += 1
            ddict[dice1+dice2].append(t)

    return [cdict[S], ddict[S]]

def test_find_dice_probabilities():
    n_faces = 6
    S = 5
    results = find_dice_probabilities(S, n_faces)
    print(results)
    assert(results[0] == len(results[1]))
    print("테스트 통과!")

if __name__ == "__main__":
    test_find_dice_probabilities()

[4, [[1, 4], [2, 3], [3, 2], [4, 1]]]
테스트 통과!

In [10]:
import string
def delete_unique_word(str1):
    table_c = {key: 0 for key in string.ascii_lowercase}
    for i in str1:
        table_c[i] += 1
    for key, value in table_c.items():
        if value > 1:
            str1 = str1.replace(key, "")
    return str1

def test_delete_unique_word():
    str1 = "google"
    assert(delete_unique_word(str1) == "le")
    print("테스트 통과!")

if __name__ == "__main__":
    test_delete_unique_word()

테스트 통과!