# forë¬¸

In [ ]:
# 2739
N = int(input())

for i in range(1, 10):
    print(f"{N} * {i} = {N*i}")

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
# 8393
N = int(input())

n = N * (1 + N) / 2

print(int(n))

10
55

In [ ]:
# 15552
N = int(input())

for i in range(N):
    A, B = map(int, input().split())
    print(A+B)

3
1 1
2
1 3
4
2 1
3

In [1]:
# 11022
T = int(input())

for i in range(T):
    a, b = map(int, input().split())

    print(f"Case #{i+1}: {a} + {b} = {a+b}")

5
1 1
Case #1: 1 + 1 = 2
2 3
Case #2: 2 + 3 = 5
3 4
Case #3: 3 + 4 = 7
9 8
Case #4: 9 + 8 = 17
5 2
Case #5: 5 + 2 = 7

In [2]:
# 2438
N = int(input())

for i in range(N):
    print("*" * (i+1))

5
*
**
***
****
*****

In [3]:
# 2439
N = int(input())

for i in range(N):
    t = i+1
    print(' '*(N-t) + '*'*t)

5
    *
   **
  ***
 ****
*****

In [12]:
# 10871
N, X = map(int, input().split())
an = list(map(int, input().split()))

for a in an:
    if a < X:
        print(a, end=" ")

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

In [11]:
type(an)

list